@import url('https://fonts.googleapis.com/css?family=Bungee Shade');

#hero {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100%;
    margin-top: 10vh;

    #hero-header {
        display: flex;
        position: fixed;
        width: 100%;
        height: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: 'Bungee Shade', cursive;

        h1 {
            color: rgb(167, 110, 110);
            text-shadow: 5px 5px rgb(255, 255, 255);
        }
    }

    #hero-score {
        display: flex;
        position: fixed;
        width: 100%;
        height: 20%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: 'Bungee Shade', cursive;
    }

    #hero-game {
        width: 540px;
        height: 540px;
        background-color: rgb(184, 155, 128);
        margin: 0 500px;
        margin-top: 15vh;
        display: flex;
        flex-wrap: wrap;
        background-size: cover;
        border: 2px solid white;
        border-radius: 25px;

        div {
            width: 180px; 
            height: 180px;
        }

        img {
            width: 150px;
        }
    };
};